@import './box-left';
@import './box-right';

.box__content{
    overflow-y:hidden;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    ::-webkit-scrollbar {
        display: none;
    }
    @media (max-width: 414px) {
        overflow-y:hidden;
        display: flex;
        flex-direction: column-reverse;
        ::-webkit-scrollbar {
            display: none;
        }
    }
    
}
.box__left, .box__right{
    width: 50%;
    display: flex;
    align-items: center;
    @media (max-width: 414px) {
        width: 100%;
    }
}

